/* EDITAR PERFIL */
main#edit {
    background: var(--lighten-color);
    flex-grow: 1;
}

.edit-picture {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.edit-picture .profile-picture {
    position: relative;
    overflow: hidden;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    margin: 2px 20px 0;
    box-shadow: 0 0 0 1px var(--gray-3);
    cursor: pointer;
}

.edit-picture .profile-picture img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.edit-picture .info-picture label {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 0.87rem;
    cursor: pointer;
}

.edit-picture .info-picture span {
    display: block;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--darken-color);
    max-width: 310px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edit-info {
    padding: 0 20px;
    margin-top: 16px;
}

.edit-info > section {
    margin-bottom: 15px;
}

.edit-info > section:first-child {
    margin-top: 6px;
}

.edit-info label {
    font-size: 1rem;
    color: var(--darken-color);
    font-weight: 600;
}

.edit-info span {
    display: block;
    margin: 8px 0;
    color: var(--gray-2);
}

.edit-info input:not(#passwordInput),
.edit-info select,
.edit-info .password-group {
    background: var(--lighten-color);
    border: 1px solid var(--gray-3);
    border-radius: 3px;
    width: 100%;
    max-width: 355px;
    padding: 0 10px;
    font-size: 1rem;
    height: 32px;
    margin: 4px 0;
    color: var(--darken-color);
}

.edit-info .password-group {
    display: inline-flex;
    padding-right: 0;
}

.edit-info .password-group input {
    flex-grow: 1;
}

.edit-info .password-group button {
    width: 30px;
    border-left: 1px solid var(--gray-3);
    font-size: .8rem;
}

.edit-info .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-info .buttons button {
    font-weight: 600;
    color: var(--primary-color);
}

.edit-info .buttons .btnSubmit {
    background: var(--primary-color);
    padding: 5px 9px;
    border-radius: 4px;
    color: var(--lighten-color);
}