/* FOLLOWERS/FOLLOWING/LIKES */
main#followers,
main#following,
main#likes,
main#comments,
main#notifications {
    display: flex;
}

.followers,
.following,
.likes,
.comments,
.notification {
    background: var(--lighten-color-2);
    flex-grow: 1;
}

main#notifications .card {
    border-bottom: 1px solid var(--gray-3);
}

main#notifications .empty {
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray-1);
    display: block;
    text-align: center;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
}

.card .info {
    display: flex;
    align-items: center;
}

.card .info .picture {
    width: 30px;
    height: 30px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 1px var(--gray-3);
    margin: 4px;
    margin-right: 13px;
}

.card .info .picture img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card .info .user {
    font-size: 0.875rem;
}

.card .info .user a {
    color: var(--darken-color);
    font-weight: 600;
}

.card .info .user span {
    color: var(--gray-2);
    display: block;
}

.card .info .content {
    margin-left: 5px;
}

.card .action button,
.card .action a {
    border-radius: 4px;
    font-weight: 600;
    font-size: 0.87rem;
    width: fit-content;
    height: 30px;
    text-align: center;
}

.card .action .follow-btn,
.card .action .buttonReference {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);;
    color: var(--lighten-color);
    padding: 5px 9px;
}

.card .action .unfollow-btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 5px 9px;
}

.card .action .buttonReference {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backToPhoto {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--lighten-color);
    background: var(--primary-lighten-color);
}

.backToPhoto i {
    margin-right: 10px;
}

.comment:first-child {
    margin-top: 20px;
}

.comment {
    display: flex;
    color: var(--darken-color);
    margin-bottom: 20px;
    padding: 0 16px;
}

.comment .user-picture {
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px var(--gray-3);
    margin-right: 15px;
}

.comment .user-picture img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.comment .content {
    width: calc(100% - 65px);
    padding-right: 15px;
}

.comment .content > section {
    display: flex;
    align-items: center;
}

.comment .content a {
    font-size: 0.875rem;
    font-weight: 600;
    display: inline-block;
    max-width: 150px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 5px;
}

.comment .content span {
    color: var(--gray-2);
    font-size: 0.7rem;
}

.comment .content p {
    margin-top: 4px;
    overflow-wrap: break-word;
    max-width: 300px;
}

.btnDeleteComment {
    color: var(--red);
    height: 12px;
    align-self: center;
    font-size: 0.9rem;
}