/* PROFILE */
.header-profile {
    display: flex;
    flex-wrap: wrap;
}

.header-profile .profile-picture {
    width: 77px;
    height: 77px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 16px 28px 24px 16px;
    box-shadow: 0 0 0 1px var(--gray-3);
    background: var(--lighten-color);
}

.header-profile .profile-picture img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header-profile .profile-info-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-right: 16px;
    max-width: calc(100vw - 150px);
}

.header-profile .profile-info-1 .username {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 30px;
    height: 30px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-profile .profile-info-1 a {
    border-radius: 4px;
    font-weight: 600;
    line-height: 24px;
    font-size: 0.87rem;
    height: 30px;
    text-align: center;
}

.header-profile .profile-info-1 .edit-btn {
    border: 1px solid var(--gray-3);
    color: var(--darken-color);
}

.header-profile .profile-info-1 .follow-btn {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);;
    color: var(--lighten-color);
    padding: 0 12px;
    width: fit-content;
}

.header-profile .profile-info-1 .unfollow-btn {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0 12px;
    width: fit-content;
}

.header-profile .profile-info-2 {
    width: 100%;
}

.header-profile .profile-info-2 .name-bio {
    font-size: 0.87rem;
    padding: 0 16px 21px;
    color: var(--darken-color);
}

.header-profile .profile-info-2 .bio {
    display: block;
    word-break: break-all;
}

.header-profile .profile-info-2 .petname {
    font-weight: 600;
}

.header-profile .profile-numbers {
    border-top: 1px solid var(--gray-3);
    display: flex;
    padding: 12px 0;
}

.header-profile .profile-numbers li {
    flex-grow: 1;
    text-align: center;
    font-size: 0.87rem;
}

.header-profile .profile-numbers li > a {
    display: flex;
    flex-direction: column;
    color: var(--gray-2);
}

.header-profile .profile-numbers li > a > span {
    color: var(--darken-color);
    font-weight: 600;
}

.user-photos .options {
    border-top: 1px solid var(--gray-3);
    border-bottom: 1px solid var(--gray-3);
    height: 45px;
}

.user-photos .options a {
    height: 100%;
    flex-grow: 1;
    font-size: 1.4rem;
}

.user-photos .options,
.user-photos .options a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--gray-2);
}

.user-photos .options a.show,
.user-photos .options a.show {
    color: var(--primary-color);
}

.photos,
.saved {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}

.photos.hidden,
.saved.hidden {
    display: none;
}

.card-photo {
    height: 33vw;
    overflow: hidden;
    position: relative;
    background: var(--lighten-color);
}

.card-photo img {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}